.List {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
}

.Title {
    color: #434343;
    text-align: center;
    padding: 20px 0px 5px 0px;
    font-size: 30px;
}

.Btns {
    display: flex;
    justify-content: center;
}

.PageNumber {
    margin-top: 15px;
    padding: 0px 20px;
}
