.Header {
    background-color: #cac8c8;
    margin-bottom: 20px;
    color: #2e2e2e;
    text-align: center;
}

.Title {
    padding: 20px 0px 5px 0px;
    font-size: 30px;
}

.bannerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 100vw;
    object-fit: cover;
}
