.Sale {
    padding: 2px;
    background-color: #e4e2e2;
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100vw;
}

.Header {
    background-color: #030303;
    color: white;
    position: fixed;
    top: 25px;
    width: 100vw;
    font-size: 20px;
    padding-top: 15px;
    z-index: 3;
}

.Nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.MenuHome {
    display: flex;
    margin-left: 10em;
    @media only screen and (min-width: 0px) and (max-width: 650px) {
        margin-left: 2%;
    }
    @media only screen and (min-width: 651px) and (max-width: 900px) {
        margin-left: 10%;
    }
    @media only screen and (min-width: 901px) and (max-width: 1200px) {
        margin-left: 20%;
    }
    &__li {
        margin: 0px 20px;
        @media only screen and (max-width: 900px) {
            font-size: 14px;
            margin: 0px 10px;
        }
        @media only screen and (min-width: 901px) and (max-width: 1200px) {
            font-size: 16px;
            margin: 0px 10px;
        }
    }
}

.MenuOther {
    display: flex;
    justify-content: right;
    margin-right: 10em;
    @media only screen and (min-width: 0px) and (max-width: 650px) {
        margin-right: 2%;
    }
    @media only screen and (min-width: 651px) and (max-width: 900px) {
        margin-right: 10%;
    }
    &__li {
        margin: 0px 20px;
        @media only screen and (max-width: 900px) {
            font-size: 14px;
            margin: 0px 10px;
        }
    }
}

.Link {
    cursor: pointer;
    text-decoration: none;
    color: white;
    &:hover {
        color: #6cbcd3;
    }
}
